
<div class="container-fluid footer">
    <div class="row">
        <div class="col-12 col-sm-6 col-lg-3 text-center">
            <h4>
                Contact:
            </h4>
            <div class="contact">
                <p><i class="fas fa-map-marker-alt"></i> Static Gallery, 23 Roscoe Lane, Liverpool, L1 9JD</p>
                <p><i class="fas fa-mobile-alt"></i> David McTague: +44 (0) 7786 865111</p>
                <p><i class="fas fa-mobile-alt"></i> Ally Goodman: +44 (0) 7711 937259</p>
                <p><i class="fas fa-envelope"></i> info@onefellswoop.co.uk</p>
            </div>


        </div>
        <div class="col-12 col-sm-6 col-lg-3 text-center">
            <img src="/img/fell.jpg" alt="logo">
            <p class="p-3">
                One Fell Swoop is a boutique marketing and publicity agency
            </p>


        </div>
        <div class="col-12 col-sm-6 col-lg-3">
            <h4 class="text-center">
                Links:
            </h4>
            <ul class="fa-ul">
                <li>
                    <span><i class="fas fa-angle-right"></i></span><a href="what-we-do">What we do</a>
                </li>
                <li>
                    <span><i class="fas fa-angle-right"></i></span><a href="the-team">Team</a>
                </li>
                <li>
                    <span><i class="fas fa-angle-right"></i></span><a href="https://www.africaoye.com">Africa Oye</a>
                </li>
                <li>
                    <span><i class="fas fa-angle-right"></i></span><a href="http://www.mellowtone.info">Mellowtone</a>
                </li>
                <li>
                    <span><i class="fas fa-angle-right"></i></span><a href="http://www.redhouseoriginals.com">RedHouse
                        Originals</a>
                </li>
            </ul>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 text-center">
            <h4>
                Follow us:
            </h4>
            <div class="follow">
                <i class="fab fa-twitter"></i><a href="https://twitter.com/OneFellTweet"> Twitter</a>
            </div>



        </div>
    </div>
    <div class="row text-center justify-content-center license ">
        <div class="col-6 col-md-2">
            <img src="/img/media_access.gif">
        </div>
        <div class="col-6 col-md-2">
            <img src="/img/hootlogo_Web.png">
        </div>
        <div class="col-6 col-md-2">
            <img src="/img/hootsuite-official.png">
        </div>
        <div class=" col-6 col-md-2">
            <img src="/img/cla bigcolour300dpi.jpg">
        </div>
    </div>
</div>
