<nav id="mainNav" class=" navbar navbar-light navbar-expand-lg text-uppercase ">
    <div class="container">
        <span class="navbar-brand">
            <img src="/img/fell.jpg" alt="logo">
        </span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav nav-fill w-100 align-items-start">
                <li class="nav-item">
                    <a class="nav-link" href="/index">home/about</a>
                </li>
                <li class="nav-item">
                    <a href="/what-we-do" class="nav-link">what we do</a>
                </li>
                <li class="nav-item active">
                    <a href="/testimonials" class="nav-link main">our work</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="the-team">the team</a>
                </li>
                <li class="nav-item">
                    <a href="/development-oportunities" class="nav-link">development / opportunities</a>
                </li>
            </ul>
        </div>

    </div>
</nav>