.footer {
  padding-top: 3em;
  background-color: #f3f3f3;
  color: #333333;
}

.footer .contact {
  padding-top: 1em;
}

.footer .follow {
  padding-top: 1em;
}

.footer .follow .fa-twitter {
  color: Dodgerblue;
  font-size: 2em;
}

.footer .follow a {
  color: #333333;
  font-size: 1.5em;
}

.footer .fa-ul {
  padding-left: 3em;
  padding-top: 1em;
}

.footer .fa-ul a {
  padding-left: 1em;
  color: #333333;
}

.footer .license {
  background-color: #f3f3f3;
}
